@import url("https://fonts.googleapis.com/css?family=Roboto");

html, body {
  margin: 0;
  padding: 0;
}

html {
  background-color: #fff;
  height: 80px;
}

body {
  background-color: #fff;
  height: calc(100vh - 5px);
}

.event {
  display: none;
  flex-direction: column;
}

.event.show {
  display: flex;
}

.event-name {
  background-color: #eee;
  color: #1c1c1c;
  height: 20px;
  line-height: 20px;
  padding: 5px 10px;
}

.teams {
  display: flex;
  align-items: center;
  padding: 0 10px;
  margin-top: 10px;
}

.team {
  display: flex;
  align-items: flex-end;
  font-family: "Roboto";
  flex: 1;
}

.team .odds {
  font-size: 12px;
  color: #e24046;
  margin: 0 5px;
}

.team .name {
  font-size: 20px;
  color: #1c1c1c;
  line-height: 1em;
}

.div {
  font-size: 12px;
  color: #aaa;
  margin: 0 10px;
}

.team-2 .name { order: 2; }

.event-link {
  display: inline-block;
  padding: 5px 10px 10px;
  text-decoration: none;
  color: #666;
  cursor: pointer;
}

.event-link:focus {
  outline: none;
}

.event-link:hover {
  text-decoration: underline;
}

.event.without-data {
  width: 140px;
  font-size: 14px;
}

.event.without-data img.icon {
  width: 1em;
  margin-right: 5px;
}
